<!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <!--% include header.html %-->
    <div id='container_wider'>
      <!--% include links.html %-->
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}


        </section>
      </div>
      {% if page.share == 'y' %}
        {% include share.html %}
      {% endif %}

      {% if page.disqus == 'y' %}
        {% include disqus.html %}
      {% endif %}
    </div>
  </body>
</html>
